@media screen and (max-width: 992px){
    #masthead{
        padding: 40px 14.3% 22px 14.3%;
    }
    #content{
        margin: auto;
    }
    #button{
        position: relative;
        bottom: .3em;
        right: 0;
        left: 0;
        margin: auto;
        a{
            display: inline-block;
            cursor: pointer;
            margin-top: 1em;
            margin-bottom: 2em;
        }
        .support{
            .bubble{
                .speech-bubble {
                    padding: 10px;
                    background: $white;
                    max-width: 200px;
                    position: absolute;
                    bottom: 3.5em;
                    left: 0;
                    right: 0;
                    margin: auto;
                    @include border-radius(5px);
                    @include box-shadow(5px 5px 30px rgba(73, 201, 248, 0.4));
                    display: none;
                    &:after{
                        content: '';
                        position: absolute;
                        top: 109%;
                        bottom: 0;
                        left: 50%;
                        width: 0;
                        height: 0;
                        border: 15px solid transparent;
                        border-top-color: $white;
                        border-bottom: 0;
                        margin-left: -15px;
                        margin-bottom: -15px;
                    }
                }
            }
        }
    }
}