// Universal Style for lewatdesign template 
*{
    font-family: $roboto;
    scroll-behavior: smooth;
}
body{
    color: $white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.webp .wrap{
    background-image: url(../assets/background/BG-Illustration@2x.webp);
    background-size: cover;
    background-attachment: fixed;
}
.no-webp .wrap{
    background-image: url(../assets/background/BG-Illustration@2x.png);
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: .5em;
}
body::-webkit-scrollbar-track{
    @include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.3));
}
body::-webkit-scrollbar-thumb{
    background-color: $bluesky;
}
.line-2{
    width: 50px;
    height: 1px;
    margin-top: 1em;
    background: $white;
}